//imports
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

//colors
$pal-white: #ffffff;
$pal-black: #000;
$pal-colorA: #006BA6;
$pal-colorB: #0496ff;
$pal-colorC: #FFBC42;
$pal-colorD: #D81159;
$pal-colorE: #8F2D56;


body {
  font-family: 'Roboto', sans-serif;
}

.p {
  color: $pal-black
}

h1, h2, h3, .card-body>.card-title {
  font-family: 'Josefin Sans', sans-serif;
  color: $pal-black
}
.card-title {
  font-weight: 500; 
  font-size: 1.25rem;
}

.card-img-overlay .card-title {
  color: $pal-white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer {
    background-color: $pal-colorA;
    padding: 10px 0;
}

//padding so that footer doesnt cover anything
.accomodate-footer {
 padding-bottom: 50px;
}

.center-navbar {
  width:30%;
  margin-left: 35%;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: $pal-colorB;
    color: $pal-white;
}

.jumbotron h2 {
    color: $pal-white;
}

//navbar
.navbar-dark {
    background-color: $pal-colorA;
}